h1{
  align-self: center;
  color: blue;


}
#john{
  width: 250px;
  height: 50px;
}
#johnny{
  position: inherit;
  position: sticky;
  left: -60;
  bottom: 13px;
  font-size: 23;

}
#meter1{
  align: center;
  position: absolute;
  left: 50px;
  bottom: 200px;


}
