h1{
  align-self: center;
  color: blue;
  margin: auto;
  text-align: center;
}

#meter1{/*the div*/
  position: fixed;

  /*added style*/
  left: 50px;
  bottom: 200px;


}

#bar{
  position: fixed;
/*height: 30px;
  width: 400px;*/
/*  background-color: rgb(255,0,0);
*/
}
